.goy{
    width: 1250px;
    height: 250px;
    background-color: blue;
}
.qirmizi{
    width: 1250px;
    height: 250px;
    background-color: red;
}
.yasil{
    width: 1250px;
    height: 250px;
    background-color: green;
}